.questionnaires-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}

.questionnaires-container__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.questionnaires-container__create-button {
  position: fixed;
  bottom: 5%;
  right: 2%;
}
